In [2]:
import numpy as np
import pandas as pd

In [3]:
Submission_data = pd.read_csv('............\\sample_submission.csv')
Submission_data

          ID  Response
0      50883         0
1      50884         0
2      50885         0
3      50886         0
4      50887         0
...      ...       ...
21800  72683         0
21801  72684         0
21802  72685         0
21803  72686         0
21804  72687         0

[21805 rows x 2 columns]

In [4]:
ran_forest_pred

NameError: name 'ran_forest_pred' is not defined

In [ ]:
Y_pred =pd.Series(ran_forest_pred)
Y_pred

In [ ]:
Submission_data['Response'] = Y_pred

In [ ]:
Submission_data

In [ ]:
Submission_data.to_csv (r'....................\\final submission_data.csv', index = False, header=True)